netdox/out
netdox/node_modules
netdox/__pycache__

netdox/src/*
!netdox/src/base/
!netdox/src/nmap.xml
!netdox/src/template-ip.psml
!netdox/src/prefixes.txt
!netdox/src/soap.xml
!netdox/src/authentication.json
!netdox/src/exclusions.txt
!netdox/src/settings.json
!netdox/src/placeholder.png
!netdox/src/review.xml