*__pycache__*
validate/
Firewall/
!Firewall/blocklist.py
!Firewall/graylog.py
!Firewall/iptools.py
!Firewall/query.json
!Firewall/block_ips.txt
**/Logs
**/outgoing
**/json
**/raw
**/node_modules
netdoc/Sources/*
!netdoc/Sources/nmap.xml
!netdoc/Sources/template-ip.psml
!netdoc/Sources/prefixes.txt
**/editnote.py
**/auth_last.txt
**/push_old.py
**/encode.ps1
fragments/xen/*
*.zip
**/log.*
isolated_cnames.txt
testing/
netdoc/linktest/
!netdoc/linktest/auth.py
!netdoc/linktest/linktools.py
!netdoc/linktest/screenshot.js
!netdoc/linktest/package.json
!netdoc/linktest/package-lock.json