**/__pycache__
**/*.zip
**/*log.txt
**/.venv/

cfg
dist
build
.tox
.vscode
.dockerignore
.coverage
.scannerwork
.dmypy.json
*.code-workspace
netdox.egg-info
coverage.xml
src/netdox/out
src/netdox/logs
tests/resources/

**/src/*
!src/netdox/
!src/netdox/src/defaults/
!src/netdox/src/templates/
!src/netdox/src/psml.xsd

src/netdox/plugins/activedirectory/records/
src/netdox/plugins/screenshots/base/

!src/netdox/plugins/k8s/src/templates/
!src/netdox/plugins/screenshots/src/placeholder.jpg

docs/_build/
docs/_source/source/