**/__pycache__
**/*.zip
**/*log.txt


.vscode
.dockerignore
config.json
docker-compose.yml
*.code-workspace
netdox-backend*.yml
netdox-src
netdox/out
netdox/node_modules
netdox/logs

**/src/*
!netdox/src/defconf/
!netdox/src/exclusions.txt
!netdox/src/placeholder.jpg
!netdox/src/pageseeder.properties
!netdox/src/nat.txt

!netdox/plugins/kubernetes/src/templates/

docs/_build/